/* general design for 1440px desktop screen */

@font-face {
    font-family: 'raleway';
    src: url(Raleway.ttf), url(Raleway-italic.ttf);
}

html,
body {
    font-family: raleway;
    /* choosing 'border-box' here will count the border of all elements in their width and height */
    box-sizing: border-box;
    /* setting the margin 0 prevents browser default HTML elements styling */
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 17px;
}

main {
    padding-left: 8px;
}

.ratingStars {
    color: #0065fc;
}

.ratingStarsBis {
    color: #f2f2f2;
}


/* reset links styles */

a,
a:link,
a:focus,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}

.soloLink,
a:hover,
.soloLink:hover,
.soloLink:focus,
.soloLink:visited,
.soloLink:active {
    font-weight: bold;
    color: #0065fc;
}

.linkStyle:hover,
.linkStyle:visited {
    text-decoration: none;
    border-top: solid 2px #0065fc;
    color: #0065fc;
}


/* nav */

nav {
    height: 100px;
}

.flexNav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}

.logoReserviaPosition {
    margin-top: 10px;
    margin-left: 3%;
    width: 10%;
}

.logoReservia {
    width: 120px;
    height: 50px;
}

.flexLinkX2 {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    align-items: center;
}

.flexLinkX1 {
    width: 140px;
    height: 98px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.linkStyle {
    height: 98px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid transparent;
}


/* input section */

.inputSection {
    width: 100%;
}

.textInputSection {
    margin-left: 2%;
}

.flexInput {
    display: flex;
    align-items: center;
    width: 98%;
    margin-left: 2%;
}

.markerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 55px;
    background-color: #f2f2f2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.marker {
    font-size: 20px;
}

input {
    height: 55px;
    width: 250px;
    border: solid 2px #f2f2f2;
    font-weight: bold;
    padding-left: 10px;
}

::placeholder {
    font-size: 20px;
    color: black;
}

input[type=submit] {
    border: none;
    background-color: #0065fc;
    width: 150px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-size: 20px;
}

.flexForm {
    display: flex;
}

.submitButton:hover {
    background-color: #0065fcd3;
}

.searchButton {
    display: inline-block;
    position: relative;
}

.searchIcon {
    color: transparent;
    font-size: 20px;
}

.searchIcon,
.fa {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 15px;
}


/* filters */

.flexFilters {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.filterTitle {
    margin-right: 30px;
    margin-left: 30px;
}

.filterWrapper {
    display: flex;
}

.filterDiv {
    height: 50px;
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconX4 {
    color: #0065fc;
    background-color: #deebff;
    width: 52px;
    height: 52px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -2px;
}

.resetMargin {
    margin-right: 0;
}

.textFilters {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 10px;
}

.filterDiv:hover {
    background-color: #f2f2f2;
}

.filterDiv:hover>.iconX4 {
    background-color: #0065fc;
    color: #deebff;
}


/* text under filters */

.underFilters {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.infoIcon {
    color: #0065fc;
    font-size: 15px;
}

.infoIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #f2f2f2;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}


/* first section */

.firstSection {
    display: flex;
    width: 100%;
    height: 650px;
    justify-content: space-around;
    margin-bottom: 100px;
}

.ratingStarsSize {
    font-size: 12px;
}


/* populaires side */

.populaireDiv {
    order: 2;
    background-color: #f2f2f2;
    border-radius: 20px;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.populaireTitle {
    text-align: center
}

.littleCardContainer {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.littleCardLink {
    width: 80%;
    height: 28%;
}

.littleCardWrapper {
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 1% 0 1% 1%;
    width: 100%;
    height: 100%;
}

.littleCard {
    border-radius: 20px 0 0 20px;
    display: flex;
    background-size: cover;
    background-position: center;
    width: 35%;
}

#littleCard {
    background-image: url(Reservia/images/hebergements/4_small/hotel-le-soleil.jpg);
}

#littleCard2 {
    background-image: url(/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
}

#littleCard3 {
    background-image: url(/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}

.littleCardSide {
    width: 50%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.populaireTitle {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.populaireTitle div:first-of-type {
    margin-right: 10px;
}

.ratingSpan {
    font-size: 30px;
}

.H3PoplairePositioning {
    margin-top: 1%;
    width: 96%;
}

.underH3Positioning {
    font-size: 14px;
    margin-top: -15%;
}

.littleCardWrapper:hover {
    box-shadow: 10px 10px 10px grey;
}


/* hebergements side */

.h1Hebergements {
    margin-left: 30px;
}

.hebergementDiv {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    order: 1;
    background-color: #f2f2f2;
    border-radius: 20px;
    flex: 2;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 15px;
}

.flexCard {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#mediumCard {
    background-image: url(/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}

#mediumCard2 {
    background-image: url(/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}

#mediumCard3 {
    background-image: url(/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}

#mediumCard4 {
    background-image: url(/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}

#mediumCard5 {
    background-image: url(/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}

#mediumCard6 {
    background-image: url(/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

.linkMediumCard {
    width: 28%;
    height: auto;
}

.mediumCardWrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    padding: 2% 2% 2%;
    width: 100%;
    height: 100%;
}

.mediumCard {
    height: 120px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-size: cover;
    background-position: center;
}

.mediumCardBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding-left: 15px;
}

.underH3HebergementPositioning {
    font-size: 14px;
    margin-top: -5%;
}

.linkMediumCard:hover {
    border-radius: 25px;
    box-shadow: 15px 15px 5px 5px grey;
    background-color: transparent;
}

.h2AfficherPlusPosition {
    width: 10%;
    margin-left: 40px;
    margin-bottom: 40px;
}

.h2AfficherPlusPosition:hover {
    color: #0065fc;
}


/* second section */

.h1ActivitésPosition {
    margin-left: 40px;
}

.flexSecondSection {
    display: flex;
    justify-content: space-around;
    width: 98%;
    height: 525px;
}

.flexCardSecondSection {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.linkBigCard {
    width: 45%;
    height: 100%;
    margin-right: 2%;
    margin-left: 4%;
}

.bigCardWrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    width: 100%;
    height: 90%;
    box-shadow: 2px 2px 2px #f2f2f2;
}

.bigCard {
    height: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-size: cover;
    background-position: center;
}

#firstBigCard {
    background-image: url(/images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}

#secondBigCard {
    background-image: url(/images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}

.bigCardWrapper:hover {
    box-shadow: grey 10px 10px 10px;
}

.secondCardSize {
    width: 45%;
}

.linkMediumActivitésCard {
    width: 50%;
    height: 100%;
}

.linkMediumActivitésCardBis {
    width: 100%;
    height: 35%;
    margin-bottom: 2%;
}

.mediumCardActivitésWrapper {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    box-shadow: 1px 1px 1px #f2f2f2;
    border-radius: 30px;
}

.mediumCardActivitésWrapperBis {
    display: flex;
    flex-direction: column;
    height: 35%;
    width: 100%;
    box-shadow: 1px 1px 1px #f2f2f2;
    border-radius: 30px;
    margin-top: 40px;
}

.mediumCardActivitésWrapperThird {
    display: flex;
    flex-direction: column;
    height: 42%;
    width: 100%;
    box-shadow: 1px 1px 1px #f2f2f2;
    border-radius: 30px;
    margin-top: 40px;
    margin-top: 0;
    margin-bottom: 40px;
}

.mediumCardActivitésWrapper:hover {
    box-shadow: grey 10px 10px 10px;
}

.mediumCardActivitésWrapperBis:hover {
    box-shadow: grey 10px 10px 10px;
}

.mediumCardActivitésWrapperThird:hover {
    box-shadow: grey 10px 10px 10px;
}

.secondCard {
    height: 100%;
    background-size: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-position: center;
}

.secondCardBis {
    height: 100%;
    background-size: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.secondCardThird {
    height: 100%;
    background-size: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-position-y: -20px;
}

.secondCardFourth {
    height: 100%;
    background-size: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-position-y: -50px;
}

#mediumCardActivités1 {
    background-image: url(/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}

#mediumCardActivités2 {
    background-image: url(/images/activites/1_xlarge/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}

#mediumCardActivités3 {
    background-image: url(/images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}

#mediumCardActivités4 {
    background-image: url(/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}

.h3ActivitésPosition {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    padding-left: 5%;
}


/* footer */

.flexFooter {
    display: flex;
    padding-left: 3%;
    background-color: #f2f2f2;
}

.footerDiv {
    width: 30%;
    margin-right: 0px;
}

.liFooterWrapper {
    height: 130px;
}

ul {
    list-style: none;
    margin-left: -40px;
}

.liFooter {
    margin-bottom: 15px
}

.footerListe:hover {
    font-weight: bold;
    color: #0065fc;
}