/* general */
@font-face {
    font-family: 'raleway';
    src: url(Raleway.ttf),
         url(Raleway-italic.ttf);   
}
html,body {
    font-family: raleway;
    /* choosing 'border-box' here will count the border of all elements in their width and height */
    box-sizing: border-box;
    /* setting the margin 0 prevents browser default HTML elements styling */
    margin: 0;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 25px;
}
ul {
    list-style: none;
    margin-left: -7%;
}
main {
    padding-left: 8px;
}
.ratingStars {
    color: #0065fc;
}
.ratingStarsBis {
    color: #f2f2f2;
}

/* nav */
.flexNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.flexSplitNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.flexButtonX3 {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 25px;
}
.flexLinkX2 {
    display: flex;
}
.flexLinkX1 {
    width: 10%;
    margin-left: 50px;
}
.logoReservia {
    width: 30%;
    margin-top: 5%;
    margin-left: 15%;
}
.spacingHébergements {
    margin-right: 50px;
    margin-top: 50px;
    border-top: solid 2px transparent;
    padding-top: 45px;
}
.spacingActivités {
    padding-top: 45px;
}

/* reset links styles */
a, a:link, a:hover, a:focus, a:visited, a:active {
    text-decoration: none;
    color: black;
}
.soloLink, .soloLink:hover, .soloLink:focus, .soloLink:visited, .soloLink:active {
    font-weight: bold;
    color: #0065fc;
}
.duoLink:hover {
    color: #0065fc;
    font-weight: bold;
    border-top: solid 2px #0065fc;
}

/* header */
.flexInput {
    display: flex;
    align-items: center;
}
.markerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 55px;
    background-color: #f2f2f2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 10px;
}
.marker {
    font-size: 20px;
}
input {
    height: 55px;
    width: 250px;
    border: #f2f2f2 solid 2px;
    font-weight: bold;
    padding-left: 10px;
}
::placeholder {
    font-size: 20px;
    color: black;
}
input[type=submit] {
    border: none;
    background-color: #0065fc;
    margin-left: 10px;
    width: 150px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-size: 20px;
}
.flexForm {
    display: flex;
}
.submitButton:hover {
    background-color: #0065fcd3;
}
/* filters */
.inputSection {
    padding-left: 3%;
}

.flexFilters {
display: flex;
margin-top: 2%;
}

.iconX4Div {
    background-color: #deebff;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: -5px;
}
.iconX4 {
    color: #0065fc;
    font-size: 30px;
}
.filterWrapper {
    display: flex;
    border: solid 2px #f2f2f2;
    margin-left: 40px;
    align-items:center;
    border-radius: 30px;
    height: 56px;
    padding-right: 40px;
}
.underFilters {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
    margin-bottom: 2%;
}
.infoIcon {
    color: #0065fc;
    font-size: 15px;
}
.infoIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #f2f2f2;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    margin-right: 30px;
}
.filterWrapper:hover {
    background-color: #f2f2f2;
}
/* first section */
.firstSection {
    display: flex;
    width: 100%;
    height: 900px;
    justify-content: space-around;
}
.populaireDiv {
    order: 2;
    background-color: #f2f2f2;
    border-radius: 30px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
    /* populaires side */
    .littleCardContainer {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
.littleCardWrapper {
    display: flex;
    background-color: white;
    border-radius: 30px;
    padding: 1% 0 1% 1%;
    width: 80%;
    height: 25%;
    margin-top: -35px;
}
.littleCard {
    border-radius: 30px 0 0 30px;
    display: flex;
    background-size: 175%;
    background-position: center;
    width: 35%;
}
.littleCardBis {
    background-size: 160%;
}
#littleCard {
    background-image: url(images/hebergements/4_small/hotel-le-soleil.jpg);
}
#littleCard2 {
    background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);

}
#littleCard3 {
    background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);

}
.littleCardSide {
margin-left: 6%;
}
.littleCardSideWidth {
    width: 250px;
}
.littleCardSideWidthBis {
    width: 170px;
    background-size: 100%;
}
.populaireTitle {
    display: flex;
    align-items: center;
    width: 80%;
    padding-left: 5px;
    height: 7%;
}
.ratingIconPositioning {
    margin-left: 60px;
}
.ratingSpan {
    font-size: 30px;
}
.H3PoplairePositioning {
    margin-top: 5%;
}
.underH3Positioning {
    margin-top: -6%;
}
.ratingStarsPositioning {
    margin-top: 15%;
}
.linkLittleCard:hover {
    border-radius: 30px;
    box-shadow: 15px 15px 5px 5px grey;
    background-color: transparent;
}
    /* hebergements side */
    .h1Hebergements {
        margin-left: 40px;
        margin-top: 50px;
    }
    .hebergementDiv  {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        order: 1;
        background-color: #f2f2f2;
        border-radius: 30px;
        width: 65%;
    }
    .flexCard {
        display: flex;
        justify-content:space-around;
    }
    .topPosition {
        margin-top: -50px;
    }
#mediumCard {
    background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
#mediumCard2 {
    background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
#mediumCard3 {
    background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
#mediumCard4 {
    background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
#mediumCard5 {
    background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
#mediumCard6 {
    background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}
.mediumCardWrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    padding: 2% 2% 2%;
    width: 350px;
    height:290px;
}
.mediumCard {
    height: 65%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-size: cover;
    background-position: center;
}
.mediumCardBottom {
    padding-left: 20px;
}
.linkMediumCard:hover {
    border-radius: 30px;
    box-shadow: 15px 15px 5px 5px grey;
    background-color: transparent;
    height: 290px;
}
.h2AfficherPlusPosition {
    width: 10%;
    margin-left: 40px;
    margin-bottom: 40px;
}
.h2AfficherPlusPosition:hover {
    color: #0065fc;
}
/* second section */
.flexSecondSection {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.flexCardSecondSection {
    display: flex;
    width: 45%;
    height: 500px;
}
.firstCard {
    background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 50%;
}
.secondCard {
    background-image: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.secondCard2 {
    background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.firstCard2 {
    background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.secondCard3 {
    background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.secondCard4 {
    background-image: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.secondCardSize {
    width: 50%;
}
/* footer */
.flexFooter {
    display: flex;
    padding-left: 3%;
    background-color: #f2f2f2;
}
.footerDivLeft {
    width: 30%;
}
.footerDivMid {
    width: 30%;
}
.footerDivRight {
    width: 30%;
}
.footerListe:hover {
    font-weight: bold;
    color: #0065fc;
}