/* general */
@font-face {
    font-family: 'raleway';
    src: url(Raleway.ttf),
         url(Raleway-italic.ttf);   
}
html,body {
    font-family: raleway;
    /* choosing 'border-box' here will count the border of all elements in their width and height */
    box-sizing: border-box;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 20px;
}
ul {
    list-style: none;
    margin-left: -7%;
}

/* nav */
.flexNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flexButtonX3 {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 25px;
}
.flexLinkX2 {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 3%;

}
.flexLinkX1 {
    margin-right: 5%;
}
.logoReservia {
    width: 30%;
    height: 30%;
    margin-top: 5%;
    margin-left: 5%;
}
.spacingHébergements {
    margin-right: 50px;
    border-top: solid 2px transparent;
    padding-top: 23px;
}
.spacingActivités {
    padding-top: 23px;
}
.soloLink {
    font-weight: bold;
    color: #0065fc;
}
/* reset links styles */
a, a:link, a:hover, a:focus, a:visited, a:active {
    text-decoration: none;
    color: black;
}
.duoLink:hover {
    color: #0065fc;
    font-weight: bold;
    border-top: solid 2px #0065fc;
}

/* header */
.flexInput {
    display: flex;
    align-items: center;
}
/* filters */
.flexFilters {
display: flex;
}
/* first section */
.h1Hebergements {
    margin-left: 60px;
}
.firstSection {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 20px;
    justify-content: space-around;
}
.populaireDiv {
    order: 2;
    background-color: #f2f2f2;
    border-radius: 10%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 40px;
    margin-right: 3%;
}
.hebergementDiv  {
    order: 1;
    background-color: #f2f2f2;
    border-radius: 10%;
    width: 60%;
}
.flexCard {
    display: flex;
    justify-content: space-around;
}
.littleCard {
    background-image: url(images/hebergements/4_small/hotel-le-soleil.jpg);
    border-radius: 20px;
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
}
.littleCardSide {
background-color: white;
margin-left: 150px;
padding: 10px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}
.littleCard2 {
    background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
    background-size: contain;
    display: flex;
}
.littleCard3 {
    background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
    background-size: contain;
    display: flex;
}
.mediumCard {
    background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-repeat: no-repeat;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-size: contain;
    padding-top: 215px;
}
.mediumCard2 {
    background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-repeat: no-repeat;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-size: contain;
    padding-top: 215px;
}
.mediumCard3 {
    background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-repeat: no-repeat;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-size: contain;
    padding-top: 215px;
}
.mediumCard4 {
    background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-repeat: no-repeat;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-size: contain;
    padding-top: 215px;
}
.mediumCard5 {
    background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-repeat: no-repeat;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-size: contain;
    padding-top: 215px;
}
.mediumCard6 {
    background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-repeat: no-repeat;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-size: contain;
    padding-top: 215px;
}
.mediumCardBottom {
    background-color: white;
}
/* second section */
.flexSecondSection {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.flexCardSecondSection {
    display: flex;
    width: 45%;
    background-color: #f2f2f2;
    border-radius: 10%;
    height: 500px;
}
.firstCard {
    background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 50%;
}
.secondCard {
    background-image: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.secondCard2 {
    background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.firstCard2 {
    background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.secondCard3 {
    background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.secondCard4 {
    background-image: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.secondCardSize {
    width: 50%;
}
/* footer */
.flexFooter {
    display: flex;
    width: 100%;
    padding-left: 3%;
}
.footerDivLeft {
    width: 33%;
}
.footerDivMid {
    width: 33%;
}
.footerDivRight {
    width: 33%;
}