/* media queries for tablets (992 and down)  */

@media screen and (max-width: 992px) {
    nav {
        width: 100%;
    }
    .flexNav {
        justify-content: 0;
    }
    .inputSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    .textInputSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        text-align: center;
    }
    .underTitlePosition {
        margin-top: -15px;
        margin-bottom: 40px;
    }
    /* input section */
    .flexInput {
        justify-content: center;
    }
    .flexFilters {
        flex-direction: column;
    }
    .filterWrapperX2 {
        width: 85%;
        margin-bottom: 20px;
    }
    .filterWrapperThird {
        margin-bottom: 20px;
        width: 40%;
    }
    .filterWrapperFourth {
        width: 50%;
    }
    .activitésSection {
        text-align: center;
    }
    /* first section */
    .populaireDiv {
        border-radius: 0;
        width: 100%;
        height: auto;
        margin: 0;
        order: 1;
    }
    .littleCardSideWidthBis {
        width: 180px;
    }
    .ratingStarsPositioningBis {
        margin-top: 75px;
    }
    .littleCardLink {
        width: 80%;
        margin-bottom: 40px;
    }
    .firstSection {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .hebergementDiv {
        margin-top: 90px;
        width: 70%;
        align-items: center;
    }
    .topPosition {
        margin-top: 0px;
    }
    .flexCard {
        flex-direction: column;
        align-items: center;
        width: 70%;
    }
    .linkMediumCard {
        width: 100%;
        height: 259px;
        margin-bottom: 30px;
    }
    .mediumCardWrapper {
        margin-bottom: 30px;
        height: 250px;
        width: 100%;
    }
    .h2ResponsivePosition {
        align-self: flex-start;
    }
    .h2AfficherPlusPosition {
        align-self: flex-start;
    }
    /* second section */
    .h1ActivitésPosition {
        margin-left: 0;
        margin-right: 0;
    }
    .flexSecondSection {
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: 0;
        text-align: 0;
        width: 100%;
    }
    .flexCardSecondSection {
        flex-direction: column;
        height: auto;
        width: 100%;
        align-items: center;
    }
    .linkBigCard {
        width: 70%;
        margin: 0;
    }
    .bigCardWrapper {
        height: 290px;
        margin-bottom: 40px;
    }
    .bigCard {
        margin-left: 0;
        margin-right: 0;
    }
    .secondCardSize {
        width: 70%;
    }
    .mediumCardActivitésWrapper {
        height: 290px;
        margin-bottom: 40px;
    }
    .mediumCardActivitésWrapperBis {
        height: 290px;
        margin-bottom: 40px;
    }
    .mediumCardActivitésWrapperThird {
        height: 290px;
        margin-bottom: 40px;
    }
    .flexFooter {
        padding-left: 8%;
    }
}


/* media queries for telephones (768 and down) */

@media screen and (max-width: 768px) {
    main {
        width: 98%;
        padding-left: 0;
    }
    /* nav */
    nav {
        height: auto;
    }
    .flexNav {
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        height: auto;
    }
    .flexLinkX3 {
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
    }
    .flexLinkX2 {
        order: 1;
        width: 100%;
        margin-left: 0;
    }
    .flexLinkX1 {
        font-size: 25px;
    }
    .linkStyle {
        width: 50%;
        text-align: center;
        border-bottom: 5px solid #f2f2f2;
    }
    .linkStyle:hover {
        color: #0065fc;
        font-weight: bold;
        border-top: initial;
        border-bottom: solid 5px #0065fc;
    }
    /* input section */
    h2 {
        font-size: 100%;
    }
    .inputSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .underTitlePosition {
        font-size: 25px;
        width: 100%;
    }
    .markerWrapper {
        margin-right: 0px;
    }
    .flexInput {
        justify-content: flex-start;
    }
    input {
        border-right: initial;
        width: 305px;
    }
    input[type=submit] {
        color: transparent;
        width: 35px;
        height: 30px;
        border-radius: 15px;
        border-top: 2px #f2f2f2;
    }
    .searchIcon {
        color: white;
        border-radius: 15px;
        padding-left: 20px;
        background-color: #0065fc;
        height: 45px;
        padding-top: 20px;
        width: 100%;
        top: -5px;
        left: -15px;
        order: 2;
    }
    .flexFilters {
        width: 95%;
    }
    /*first section */
    .firstSection {
        margin-bottom: 50px;
    }
    .populaireDiv {
        border-radius: 0;
        width: 100%;
        height: auto;
        margin: 0;
    }
    .littleCardLink {
        margin-bottom: 0;
    }
    .littleCardWrapper {
        margin: 3% 0;
    }
    .hebergementDiv {
        background-color: transparent;
        width: 100%;
        margin-top: 0;
    }
    .h1hebergements {
        width: 550px;
    }
    .linkMediumCard {
        margin-bottom: 90px;
    }
    .flexCard {
        width: 70%;
    }
    .mediumCardWrapper {
        width: 100%;
        height: 300px;
        box-shadow: 2px 2px 2px #f2f2f2;
    }
    .underH3Positioning {
        margin-top: -4%;
    }
    .h2AfficherPlusPosition {
        margin-left: 0;
        padding-left: 20px;
    }
    /* second section */
    .h1ActivitésPosition {
        text-align: left;
        margin-left: 60px;
    }
    .flexCardSecondSection {
        width: 70%;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }
    .linkBigCard {
        width: 100%;
        height: 330px;
        margin-bottom: 35px;
        margin-left: 0;
        margin-right: 0;
    }
    .bigCardWrapper {
        width: 100%;
        height: 330px;
    }
    .secondCardSize {
        width: 100%;
    }
    .mediumCardActivitésWrapper {
        width: 100%;
        height: 330px;
        margin-left: 0;
        margin-right: 0;
    }
    .mediumCardActivitésWrapperBis {
        width: 100%;
        height: 330px;
    }
    .flexFooter {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-left: initial;
    }
    ul {
        margin-left: -15%;
    }
    .footerDiv {
        margin-bottom: 60px;
    }
}