/* general */
@import url(general.css);

/* media queries for tablets (992 and down)  */
@media screen and (max-width: 992px) {
.flexButtonX3 {
    margin-right: 80px;
}    
.firstSection {
    flex-direction: column;
}
.populaireDiv {
    order: 1;
}
}
/* media queries for telephones (768 and down) */
@media  screen and (max-width: 768px) {
    
}